.container {
    display: flex;
    max-width: 700px;
    border: 4px sandybrown solid;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name {
    margin-top: 5%;
}

.name__text {
    font-size: 32px;

}

.title {
    font-size: 32px;
    color: salmon;
    
}

.photo__me {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid salmon;
    margin-top: 5%;
}

.about_me_again {
    font-size: 32px;
    color: salmon;
}

.about_me {
    align-self: flex-start;
    margin-top: 2%;
    text-align: center;
}

li {
    font-size: 24px;
}

.social {
    align-self: flex-start;
}

.network {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

a {
    display: block;
    text-decoration: none;
    font-size: 24px;
}

.social_network {
    margin-top: 5%;
    font-size: 32px;
    color: salmon;
}

.wrapper {
    display: flex;
    margin: 20px;
    flex-direction: column;
    align-items: center;
}

@font-face {
    font-family: Pompadur;
    src: url("../fonts/Oswald-Regular.ttf");
}

* {
    font-family: Pompadur;
}

.text {
    text-align: center;
    font-size: 20px;
}